# Local PHP Environment
.php/
php.zip
php_errors.log

# Fly.io CLI
.flyctl/

# Databases
omnimart.db
db_config.php

# Deploy Guides
FLY_DEPLOY_GUIDE.md
RENDER_DEPLOY_GUIDE.md

# OS files
Thumbs.db
desktop.ini
.DS_Store
